In [1]:
## Basic rules
'''
this is comment
'''

'\nthis is comment\n'

In [3]:
# Python is case sensitive
name = "Paolo"
Name = "Mario"
print(name)
print(Name)

Paolo
Mario

In [8]:
# Indentation
# 4 spaces or tab (Python doesn't use {})
age = 32
if age > 30:
    print("greater than 30")
else:
    print("less or equal to 30")

greater than 30

In [10]:
# Line continuation
total = 1+2+3+4+5+6+7+8 \
        +9+10

print(total)

55

In [12]:
# multiple statement
x=5; y=6; z=2

In [14]:
# types are assigned at runtime by the kernel
age = 32 # is a integer
name = "paolo" # is a string

In [17]:
type(age)

int

In [19]:
# Type inference
variable = 10
print(type(variable))
variable = "test"
print(type(variable))

<class 'int'>
<class 'str'>

In [20]:
# basic variable printing
age=4
temperature=36.5
print("age: ",age)
print("temperature: ",temperature)

age:  4
temperature:  36.5

In [21]:
# type conversion
age=str(temperature)
print(type(age))

age=int(3)
print(type(age))

age=float(3)
print(type(age))

age=bool(0)
print(type(age))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# get input
print("Ecco il numero inserito",input("inserisci un intero"))

In [1]:
# String concatenate
"hello this is number "+ str(5)

'hello this is number 5'

In [2]:
# String strip (remove leading trailing characters)
"...ciao.mamma!".strip(".!")

'ciaoxmamma'

In [28]:
# operation
floor_div=11//3
modulus_div=7%4

print("floor_div (round to floor) ",floor_div)
print("modulus_div ",modulus_div)

# logical operators
print(1==1 and 2==2)
print(1==1 and not 2==2)

floor_div (round to floor)  3
modulus_div  3
True
False