In [22]:
## tuples are immutables,
## this is the main difference compared to lists
empty_tuple=() # same as = tuple()
print(empty_tuple)
print(type(empty_tuple))

tpl=(1,2,3,4,5,6)
print("\n")
print(tpl)
print(type(tpl))

()
<class 'tuple'>


(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [8]:
# mixed tuple
mixed_tuple = (1,2,3,"hello", True)
print(mixed_tuple)
print(type(mixed_tuple))

mixed_tuple[2]
mixed_tuple[-1]

(1, 2, 3, 'hello', True)
<class 'tuple'>

True

In [13]:
# slice: from 0 included to 4 excluded
tpl[0:4]

[1, 2, 3, 4]

In [14]:
# reverse
print(tpl[::-1])

[6, 5, 4, 3, 2, 1]

In [23]:
# concatenate tuples
concatenate_tuple=tpl + mixed_tuple
print(concatenate_tuple)
print(type(tpl))

(1, 2, 3, 4, 5, 6, 1, 2, 3, 'hello', True)
<class 'tuple'>

In [25]:
mixed_tuple*3

(1, 2, 3, 'hello', True, 1, 2, 3, 'hello', True, 1, 2, 3, 'hello', True)

In [26]:
# Immutable nature: ERROR because assignment is not supported
mixed_tuple[1]=2

TypeError: 'tuple' object does not support item assignment

In [33]:
#Tuples methods
print("number of occurences of '1': ",tpl.count(1))
print("index of '1': ",tpl.index(1))

number of occurences of '1':  1
index of '1':  0

In [36]:
#Tuples Packing and Unpacking methods
packed_tuple=1,"hello",3.14
print(packed_tuple)

# Unpack
a,b,c,=packed_tuple
print(a)
print(b)
print(c)

(1, 'hello', 3.14)
1
hello
3.14

In [39]:
#Tuples Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers

print("first ",first)
print("middle ",middle)
print("last ",last)

first  1
middle  [2, 3, 4, 5]
last  6

In [42]:
# Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"hello",3.13,"c"]]
print(lst[1])
print(lst[1][3])
print(lst[1][0:3])

[6, 7, 8, 9]
9
[6, 7, 8]

In [45]:
# Nested Tuples
nested_tpl=((1,2,3,4),(6,7,8,9),(1,"hello",3.13,"c"))
print(lst[1])
print(lst[1][3])
print(lst[1][0:3])

(6, 7, 8, 9)
9
(6, 7, 8)

In [47]:
# iterating over nested tuples
for sub_tuple in nested_tpl:
    for item in sub_tuple:
        print(item,end=" ")

1 2 3 4 6 7 8 9 1 hello 3.13 c